.products {
  position: relative;
}

.foodCoverSlider {
  position: absolute;
  top: 50vh;
  right: 0;
}

.foodCoverSlider span {
  display: block;
  width: 1.88rem;
  height: 1.88rem;
  border: 1px solid black;
  border-radius: 50%;
  margin-top: 1rem;
  background-color: var(--grey-dark);
}

.foodCoverSlider span[data-active="true"] {
  background-color: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
